# dependencies
node_modules/

# production
/.next/
/out/
/dist/

# local env files
.env
.env.local
.env.*.local

# misc
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
log.txt
*.log

# editor directories and files
.vscode/
.idea/
*.iml

# TypeScript
tsconfig.tsbuildinfo

# coverage
coverage/

# database
*.sqlite
*.sqlite3
*.db
